@import '../../styles/general.scss';

.helper-map {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}

.square.coords {
  .cell-coords{
    visibility: hidden;
    display: block;
    position:absolute;
    font-size: 0.8em;
  }
  &:hover {
    background-color: purple;
    .cell-coords{
      
      visibility: visible;
      position:relative;
      top: -25px;
      left: 15px;
      width: 70px;
      height: auto;
      font-size: 1rem;
      color: black;
      padding: 5px;
      border-radius: 10px;
      background-color: $retro_green;
      text-align: center;
    }
  }
}

#empty-planet {
  margin: 30px auto;
}
