@import '../../styles/general.scss';

.planet {
  margin: 10% 20%;
  display: grid;
  grid-template-columns: repeat(10, 30px );
  grid-template-rows: repeat(10, 30px ); 
}

.commands-container {
  @include primaryFont;
}

.commands-input {
  padding: 15px;
}

.square,
.obstacle,
.robot {
  height: 30px;
  width: 30px;
  border: 1px solid $retro_green;
  background-color: black;
  
  &.obstacle {
    background-color: $retro_green;
  }
  &.robot {
    width: 0; 
    height: 0; 
    &.north,
    &.south {
      // padding: 2px;
    margin: 2px 5px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid purple;
    }
    &.east,
    &.west {
    margin: 5px 2px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 25px solid purple;
    }
  }  
}