@import '../../styles/general.scss';

.planet {
  width: fit-content;
  height: 330px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 30px );
  grid-template-rows: repeat(10, 30px ); 
  
}

.commands-container {
  @include primaryFont;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  >* {
    padding: 30px 0;
  }
  .element-container {
    width: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    > input {
      margin-right: 15px;
    }  
  }
}

.commands-input {
  padding: 15px;
}

.square,
.obstacle {
  height: 30px;
  width: 30px;
  border: 1px solid $retro_green;
  background-color: transparent;
  &.robot {
    height: 0px;
    width: 0px;
  }
  
  &.obstacle {
    background-color: $retro_green;
  }
  .cell-coords {
    display: none;
  }
}

.north,
.south {
  // padding: 3px 6px;
border-left: 16px solid transparent;
border-right: 16px solid transparent;

}
.north {
  border-bottom: 31px solid purple;
}
.south {
  border-top: 31px solid purple;
}
.east,
.west {
// padding: 6px 3px;
border-top: 16px solid transparent;
border-bottom: 16px solid transparent;
}
.east {
  border-left: 30px solid purple;
}
.west {
  border-right: 30px solid purple;
}