@import "../../styles/general.scss";

.coords-container,
.direction-container {
  display: flex;
  @include primaryFont;
  flex-direction: column;
  align-items: center;
  
}
.concrete-coord {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.coords-input {
  width: 100px;
  text-align: center;
}